td{
	width:100px;
	height:100px;
}

.vertical{
	border-left: 5px solid black;
	border-right: 5px solid black;

}

.horizontal{
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

table{
	margin: auto;
}

h1{
	text-align: center;
	
	width: 50%px;
	background-color: yellow;
}

body{
	background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg")
}

